@import "../../../assets/style/theme.scss";

.box {
  overflow: hidden;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.box1 {
  cursor: pointer;
  display: inline-block;
}

.cover {
  position: absolute;
  bottom: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  width: 100%;
  color: #fff;
  text-align: center;
  height: 40px;
  font-size: 14px;
  line-height: 40px;
}

.hoverAnimation {
  transition: 0.3s;
}

.hoverAnimation:hover {
  transition: 0.3s;
  transform: scale(1.2);
}
