*{
  margin: 0;
  padding: 0;

}

header{
  margin: 0 auto;
  position: relative;
  /* margin-left: 360px; */
  /* background-color: tomato; */
  width: 1200px;
  height: 345px;
  overflow: hidden;
}
.header-font{
  margin-top: 93px;
  width: 554px;
  height: 104px;
  line-height: 65.4px;
  font-size: 40px;
  font-family:"Microsoft YaHei";
  font-weight: bold;
}
.header-img{
  position: absolute;
  top: 0;
  left: 754px;
}
.time{
  margin-top: 45px;
  height: 46px;

  
}
.time img{
  vertical-align: middle;
}
.time span{
  margin-left: 9px;
  font-size: 14px;

}
.time-r{

  color: #999999;
}
main{
  /* margin-left: 360px; */
  margin: 0 auto;
  margin-top: 60px;
  width: 1200px;
  /*  */
}
main span{
  font-size: 16px;
  color: #292929;
  line-height: 26px;

}
h3{
  text-align: center;
  margin-bottom: 19px;
  color:#292929;
  font-size: 20px;
}
.imgg{
  text-align: center;
}

footer{
  margin: 0 auto;
  width: 1200px;
  margin-top: 59px;
  color: #BABABA;
  line-height: 28px;
}
